<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>직원페이지</title>

    <script type="application/javascript" src="/js/staff/signs.js"></script>
</head>
<body>
    <div>
        <h3>저장된 데이터 목록</h3>
        <table>
            <thead>
            <tr>
                <td>순번</td>
                <td>성명</td>
                <td>번호</td>
                <td>1번 필수 항목</td>
                <td>2번 필수 항목</td>
                <td>3번 선택 항목</td>
                <td>서명</td>
                <td>등록시간</td>
            </tr>
            </thead>
            <tbody id="guest-list">
            <tr>
                <td colspan="8">
                    조회된 데이터가 없습니다.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
