<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>직원페이지</title>

    <style>
        table {
            border: 1px solid #444444;
        }
        th, td {
            border: 1px solid #444444;
        }
    </style>

    <script type="application/javascript" src="/js/staff/staff.js"></script>
</head>
<body>
    <div>
        <h3>접속 기기 목록</h3>
        <button type="button" onclick="findGuests()">재검색</button>
        <br>
        <table>
            <thead>
            <tr>
                <td>순번</td>
                <td>기기이름</td>
                <td>기능</td>
            </tr>
            </thead>
            <tbody id="guest-list">
            <tr>
                <td colspan="3">
                    기기 접속 대기중....
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/staff/signs">저장된 서명 목록</a>
</body>
</html>
