<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[고객용] 전자서명 대기명단</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/sub.css">

    <script type="application/javascript" src="/js/common.js" defer></script>
    <script type="application/javascript" src="/js/guest/terms.js" defer></script>
</head>
<body>
<main class="wrap">
    <section class="header">
        <a class="home" href="/">
            <img src="/images/btn_home.png" alt="home">
        </a>
        <h1>[고객용] 화장 신고서 및 장사시설 사용 신청서</h1>
    </section>
    <section class="path_bar">
        <div class="path_box">
            <ul>
                <li>제 2024-25964호</li>
                <li>즉시처리</li>
            </ul>
            <p>
                <img src="/images/check_off.png" alt="off"> 를 클릭하여&nbsp;&nbsp;<img src="/images/check_on.png" alt="on">
                체크하시기 바랍니다.
            </p>
        </div>
    </section>
    <section class="page">
        <form action="">
            <h2>사망자 정보</h2>
            <table class="mb6">
                <caption>사망자 정보사항 안내</caption>
                <colgroup>
                    <col class="w-15per">
                    <col class="w-35per">
                    <col class="w-15per">
                    <col class="w-35per">
                </colgroup>
                <tbody>
                <tr>
                    <th>성명(성별)</th>
                    <td>김정훈(남)</td>
                    <th>주민등록번호</th>
                    <td>400312-1654723</td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td colspan="3">대구광역시 북구 복현로 12-39, 305호</td>
                </tr>
                <tr>
                    <th>사망장소</th>
                    <td>의료기관</td>
                    <th>사망일자</th>
                    <td>2024-03-02 05:10</td>
                </tr>
                <tr>
                    <th>사망원인</th>
                    <td>병사</td>
                    <th>화장일자</th>
                    <td>2024-03-04</td>
                </tr>
                <tr>
                    <th>유골안치유형</th>
                    <td colspan="3">
                        <div class="radio_items grid-auto">
                            <div class="radio_item">
                                <input type="radio" id="agree1-1" value="agree1-1" class="radioBtn" name="agree1" disabled/>
                                <label for="agree1-1">국립묘지</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree1-2" value="agree1-2" class="radioBtn" name="agree1" checked disabled/>
                                <label for="agree1-2">봉안(사설, 공설)</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree1-3" value="agree1-3" class="radioBtn" name="agree1" disabled/>
                                <label for="agree1-3">선산</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree1-4" value="agree1-4" class="radioBtn" name="agree1" disabled/>
                                <label for="agree1-4">자연장지</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree1-5" value="agree1-5" class="radioBtn" name="agree1" disabled/>
                                <label for="agree1-5">기타</label>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <h2>사용자 정보</h2>
            <table class="mb6">
                <caption>사용자 정보사항 안내</caption>
                <colgroup>
                    <col class="w-15per">
                    <col class="w-35per">
                    <col class="w-15per">
                    <col class="w-35per">
                </colgroup>
                <tbody>
                <tr>
                    <th>성명(성별)</th>
                    <td>김인재(남)</td>
                    <th>생년월일</th>
                    <td>1970-06-17</td>
                </tr>
                <tr>
                    <th>사망자와 관계</th>
                    <td>아들</td>
                    <th>연락처</th>
                    <td>010-7235-4520</td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td colspan="3">대구광역시 북구 복현로 12-39, 305호</td>
                </tr>
                </tbody>
            </table>
            <h2>화장 잔류물 반환</h2>
            <table class="mb2">
                <caption>화장 잔류물 반환 안내</caption>
                <colgroup>
                    <col class="w-15per">
                    <col class="w-35per">
                    <col class="w-15per">
                    <col class="w-35per">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">치아(틀니포함)</th>
                    <td>
                        <div class="radio_items grid-auto">
                            <div class="radio_item">
                                <input type="radio" id="agree2-1" value="agree2-1" class="radioBtn" name="agree2" disabled/>
                                <label for="agree2-1">반환</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree2-2" value="agree2-2" class="radioBtn" name="agree2" checked disabled/>
                                <label for="agree2-2">폐기</label>
                            </div>
                        </div>
                    </td>
                    <th scope="row">보출물(수술용)</th>
                    <td>
                        <div class="radio_items grid-auto">
                            <div class="radio_item">
                                <input type="radio" id="agree3-1" value="agree3-1" class="radioBtn" name="agree3" checked disabled/>
                                <label for="agree3-1">반환</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree3-2" value="agree3-2" class="radioBtn" name="agree3" disabled/>
                                <label for="agree3-2">폐기</label>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="text-sm mb6">
                <span class="text-red">*</span> 수골과정에서 잔류물이 발견되지 않을 수 있습니다.
            </p>
            <h2>사용료 산출 자료</h2>
            <table>
                <caption>사용료 관련 유형 안내</caption>
                <colgroup>
                    <col class="w-15per">
                    <col class="w-35per">
                    <col class="w-15per">
                    <col class="w-35per">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">지역</th>
                    <td>
                        <div class="radio_items grid-auto">
                            <div class="radio_item">
                                <input type="radio" id="agree4-1" value="agree4-1" class="radioBtn" name="agree4" disabled/>
                                <label for="agree4-1">관내</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree4-2" value="agree4-2" class="radioBtn" name="agree4" disabled/>
                                <label for="agree4-2">경북</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree4-3" value="agree4-3" class="radioBtn" name="agree4" checked disabled/>
                                <label for="agree4-3">기타</label>
                            </div>
                        </div>
                    </td>
                    <th scope="row">구분</th>
                    <td>
                        <div class="radio_items grid-auto">
                            <div class="radio_item">
                                <input type="radio" id="agree5-1" value="agree5-1" class="radioBtn" name="agree5" checked disabled/>
                                <label for="agree5-1">대인</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree5-2" value="agree5-2" class="radioBtn" name="agree5" disabled/>
                                <label for="agree5-2">소인</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree5-3" value="agree5-3" class="radioBtn" name="agree5" disabled/>
                                <label for="agree5-3">개장유골</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">유골수습방법</th>
                    <td colspan="3">
                        <div class="radio_items grid-2">
                            <div class="radio_item">
                                <input type="radio" id="agree6-1" value="agree6-1" class="radioBtn" name="agree6" disabled/>
                                <label for="agree6-1">분골(수습한 유골을 분쇄)</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree6-2" value="agree6-2" class="radioBtn" name="agree6" checked disabled/>
                                <label for="agree6-2">습골(수습한 그대로 유골)</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">감면유형</th>
                    <td colspan="3">
                        <div class="radio_items grid-4">
                            <div class="radio_item">
                                <input type="radio" id="agree7-1" value="agree7-1" class="radioBtn" name="agree7" disabled/>
                                <label for="agree7-1">유공자</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree7-2" value="agree7-2" class="radioBtn" name="agree7" checked disabled/>
                                <label for="agree7-2">수급자</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree7-3" value="agree7-3" class="radioBtn" name="agree7" disabled/>
                                <label for="agree7-3">차상위</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree7-4" value="agree7-4" class="radioBtn" name="agree7" disabled/>
                                <label for="agree7-4">유공자배우자</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree7-5" value="agree7-5" class="radioBtn" name="agree7" disabled/>
                                <label for="agree7-5">무연고</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree7-6" value="agree7-6" class="radioBtn" name="agree7" disabled/>
                                <label for="agree7-6">희생공헌</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree7-7" value="agree7-7" class="radioBtn" name="agree7" disabled/>
                                <label for="agree7-7">병역명문가</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree7-8" value="agree7-8" class="radioBtn" name="agree7" disabled/>
                                <label for="agree7-8">시민상수상</label>
                            </div>
                            <div class="radio_item">
                                <input type="radio" id="agree7-9" value="agree7-9" class="radioBtn" name="agree7" disabled/>
                                <label for="agree7-9">장기기증</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">사용료</th>
                    <td rowspan="3">500,000원</td>
                </tr>
                </tbody>
            </table>
            <div class="btns">
                <a href="javascript:goAgree();" class="btn">확인</a>
            </div>
        </form>
    </section>
</main>
</body>
</html>
