<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객페이지</title>

    <script type="application/javascript" src="/js/guest/guest.js"></script>
</head>
<body>
    <div id="devices">
        <label for="device1">
            1번기기
        </label>
        <input type="radio" id="device1" name="device" value="1번기기"/>
        <br>
        <label for="device2">
            2번기기
        </label>
        <input type="radio" id="device2" name="device" value="2번기기"/>
        <br>
        <label for="device3">
            3번기기
        </label>
        <input type="radio" id="device3" name="device" value="3번기기"/>
        <br>
        <button type="button" onclick="connect()">선택</button>
    </div>
</body>
</html>
