<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객페이지</title>

    <script type="application/javascript" src="/js/guest/waiting.js" defer></script>
</head>
<body>
    <h1 style="font-size: 60px">기기 선택</h1>
    <div id="devices">
        <label for="device1" style="font-size: 30px">
            1번기기
        </label>
        <input type="radio" id="device1" name="device" value="1번기기"/>
        <br>
        <br>
        <label for="device2" style="font-size: 30px">
            2번기기
        </label>
        <input type="radio" id="device2" name="device" value="2번기기"/>
        <br>
        <br>
        <label for="device3" style="font-size: 30px">
            3번기기
        </label>
        <input type="radio" id="device3" name="device" value="3번기기" />
        <br>
        <br>
        <button type="button" onclick="connect()" style="width: 100px; height: 60px">선택</button>
    </div>
</body>
</html>
