<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>창구 직원용</title>
</head>
<body>
<script>
    function connect() {
        if (!!window.EventSource) {
            let clientId = document.getElementById('client-input').value;
            let source = new EventSource('/sse/' + clientId);

            source.addEventListener('message', function(e) {
                const p = document.createElement('p');
                p.innerHTML += e.data;
                document.getElementById('eventLog').insertAdjacentElement('beforeend', p);
            }, false);

            source.addEventListener('open', function(e) {
                console.log('open event');
            }, false);

            source.addEventListener('error', function(e) {
                console.log('error event');
                if (e.readyState === EventSource.CLOSED) {
                    console.log(e.data);
                }
            }, false);
        } else {
            // Result to xhr polling :(
        }
    }

    function sendEvent() {
        let input = document.getElementById('server-input');

        const httpRequest = new XMLHttpRequest();
        httpRequest.open("PATCH", '/sse/' + input.value);
        httpRequest.send();
    }
</script>
<label for="client-input">client ID : </label><input type="text" id="client-input"/>
<button type="button" onclick="connect()">접속</button>

<label for="server-input">server ID : </label><input type="text" id="server-input"/>
<button type="button" onclick="sendEvent()">전송</button>

<div id="eventLog">
</div>
</body>
</html>